.collection-item {
  border: 1px solid var(--border-color-lighter);
  border-radius: var(--radius-lg);
  margin-bottom: 8px;
  overflow: hidden;

  .collection-header {
    height: 32px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background: var(--bg-white);
    transition: background 0.2s;

    &:hover {
      background: var(--bg-light-alt);
    }

    .toggle-icon {
      font-size: 0.7rem;
      transition: transform 0.2s ease;

      &.rotated {
        transform: rotate(-90deg);
      }
    }
  }

  .requests-list {
    border-top: 1px solid var(--border-color-lighter);
  }
}


.requests-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s ease-out;
  overflow: hidden;

  &.expanded {
    grid-template-rows: 1fr;
  }

  .requests-list {
    min-height: 0;
  }
}
