@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'styles/variables';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-body);
  height: 100vh;
  overflow: hidden;
}

html, body {
  font-family: var(--font-primary);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Evita scrolls globales */
}

input, select, textarea, button, label {
  font-family: var(--font-primary);
}

pre, code, .font-monospace {
  font-family: var(--font-mono);
}


.app-container {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  width: 100vw;
}

.main-content {
  display: flex;
  overflow: hidden;
  min-height: 0;
}

.btn-sm:focus,
.btn-sm.focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn-sm:active {
  box-shadow: none !important;
  transform: translateY(0) !important;
}
